body {
    text-align: center;
    background: linear-gradient(135deg, #f7f595 0%, #61f8ec 100%);
    min-height: 100vh;
    color: #333;
}

.navbar {
    background-color: lightgray;
    width:auto;
    align-items: center;
}

.nav-item {
    width: auto;
}

.nav-item:hover {
    font-style: italic;
}

#active {
    color:red;
    font-weight: bold;
}

.des_images {
    display: flex;
    align-items: center;
}

p {
    font-size:20px;
    margin:40px;
}

.special_p {
    text-align: left;
    margin: 10px;
}

#menu #entree #plat #desert {
    font-size:20px;
    margin:40px;
}


.legende {
    font-size: 15px;
    margin-top: 5px;
}

h1 {
    font-size: 45px;
    font-weight: bold;
}

.container {
    background: white;
    border: solid lightgray 2px;
    border-radius: 10px;
    padding: 20px;
    margin-top:35px;
    margin-bottom:35px;
}

footer {
    margin-top: 100px;
    margin-bottom: 10px;
    align-items: center;
}